
@media only screen and ( max-width: 70em) {
	}

@media only screen and ( max-width: 66.25em) {
	.column-parent-four-items { 
	> .column { width: 50%; width: calc(50% - 30px); margin-left: 1%; display: inline-block; }
}
	
	.wrapper { max-width: 95%; margin: auto; }
	#section__header--main-nav > a > img { margin: auto; position: absolute; left: 0; right: 0; z-index: 1;}
	#section__main-nav--nav { display: none; }
	#section__nav--icon-bars { display: block; }
	#section__header--main-nav > a > img { margin-top: 20px; }
	#section__header { z-index: 999; width: 100%;top: 0; }
	
	#logomark { z-index: 9999; padding: 40px 30px; }
	

}

@media only screen and (max-width: 65.938em){
	.column-parent-fourths.model > .column { width: 100%; margin-bottom: 20px; padding-left: 0; margin-left: 0; 
		> #column-wrap--list { margin: auto; width: 90%; }
	}
}

@media only screen and (max-width: 65.75em){
}

@media only screen and (max-width: 62.5em){
}

@media only screen and (max-width: 62.5em){
}

@media only screen and (max-width: 59.25em){
}

@media only screen and (max-width: 57.5em){
	.column-parent-halves > .column { width: 100%; } 


}

@media only screen and (max-width: 54.375em){

	
}


@media only screen and (max-width: 53.125em) {

}

@media only screen and (max-width: 52.125em) {
	.column-parent-halves > .column { width: 100%; }
	

}



@media only screen and (max-width: 51.563em){
}

@media only screen and (max-width: 50em) {


}


@media only screen and (max-width: 41.563em) {
}


@media only screen and (max-width: 38em){ 
	h1 { font-size: 2.6rem; line-height: 3.2rem; }

}

@media only screen and (max-width: 36.25em){ 


}

@media only screen and (max-width: 33.875em){


}
@media only screen and (max-width: 32em){
}

@media only screen and (max-width: 32em){

}


@media only screen and (max-width: 25em) {
}

//IE only
@media screen\0 {
}



